@page "/counter"
@using KalendarzPracowniczyApplication.CQRS.Commands.Events.Create
@using KalendarzPracowniczyApplication.Dto
@using KalendarzPracowniczyUI.Service
@rendermode InteractiveServer
@inject EventServiceUI EventServiceUI

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<EditForm method ="post" Model ="eventCommand" OnValidSubmit="CreateEvent" ForName="CreateEventDto">


<p>Nazwa zadania</p>
<InputText @bind-Value ="eventCommand.Title"/>
<p>Opis</p>
<InputText @bind-Value ="eventCommand.Description"/>
<p>
    <button type="submit">Dodaj zadanie!</button>
</p>

</EditForm>

    @code {
        private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    [SupplyParameterFromForm]
    public CreateEventCommand eventCommand {get;set;} = new();
    private string? message;
    private bool isSuccess;

    public async Task CreateEvent()
        {
        try
        {
            await EventServiceUI.Create(eventCommand);
            isSuccess = true;
        }
        catch (Exception ex)
        {
            message = $"Wystąpił błąd: {ex.Message}";
        }
        }
}
