@page "/event"
@using KalendarzPracowniczyApplication.CQRS.Commands.Events.Create
@using KalendarzPracowniczyApplication.Dto
@using KalendarzPracowniczyDomain.Entities.Users
@using KalendarzPracowniczyUI.Service
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@rendermode InteractiveServer
@inject EventServiceUI EventServiceUI
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<User> UserManager
@inject IHttpContextAccessor HttpContextAccessor
<style>
    .event-form-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #2b2f3a; 
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
        color: #f1f1f1; 
    }

        .event-form-container h2 {
            text-align: center;
            color: #78909c; 
        }

        .event-form-container p {
            margin-bottom: 5px;
            font-weight: bold;
            color: #78909c; 
        }

        .event-form-container input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #546e7a; 
            border-radius: 5px;
            box-sizing: border-box;
            background-color: #37474f; 
            color: #f1f1f1; 
        }

        .event-form-container button {
            width: 100%;
            padding: 10px;
            background-color: #546e7a; 
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

            .event-form-container button:hover {
                background-color: #78909c; 
            }

    .loader {
        border: 8px solid rgba(255, 255, 255, 0.2); 
        border-top: 8px solid #78909c; 
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
        margin: 20px auto;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .logo img {
            width: 120px;
            height: auto;
        }

    .message, .success-message {
        padding: 15px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        position: relative;
        left: 10px;
        margin: 30px auto;
        width: 80%;
        max-width: 600px;
    }

    .message {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
    }
</style>
<NavigationMenu />
<div class="logo">
    <img src="UNISOFT_logo_CMYK_z_polem_ochronnym_alfa_white.png" />
</div>
<div class="event-form-container">
    <h2>Dodaj nowy wyjazd</h2>

    <EditForm Model="eventCommand" OnValidSubmit="CreateEventAsync">
        <div>
            <p>Miejsce wyjazdu</p>
            <InputText @bind-Value="eventCommand.Title" />
        </div>
        <div>
            <p>Opis</p>
            <InputText @bind-Value="eventCommand.Description" />
        </div>
        <div>
            <p>Data dodania:</p>
            <InputDate @bind-Value="eventCommand.StartDate" />
        </div>
        <div>
            <p>Prawdopodobny czas zakończenia:</p>
            <InputDate @bind-Value="eventCommand.EndDate" />
        </div>
        <div>
            <p>Dodał: @currentUser?.UserName</p>
        </div>
        <div>
            <button type="submit">Dodaj wyjazd!</button>
        </div>
    </EditForm>
</div>
@if (!string.IsNullOrEmpty(message))
{
    <p class="message">@message</p>
}

@if (isSuccess)
{
    <p class="success-message">Zadanie zostało dodane pomyślnie!</p>
}
@if (isLoading)
{
    <div class="loader"></div>
}

@code {
    public CreateEventCommand eventCommand = new CreateEventCommand();
    private string? message;
    private bool isSuccess;
    private bool isLoading = false;
    private IdentityUser currentUser;



    public async Task CreateEventAsync()
    {
        isLoading = true;
        isSuccess = false;
        message = null;

        try
        {
            var user = HttpContextAccessor.HttpContext.User;

            Console.WriteLine($"IsAuthenticated: {user.Identity.IsAuthenticated}");
            Console.WriteLine($"UserName: {user.Identity.Name}");
            if (user.Identity.IsAuthenticated)
            {
                currentUser = await UserManager.GetUserAsync(user);
            }
            else
            {
                message = $"Błąd autoryzacji";
            }
            await EventServiceUI.Create(eventCommand);
            isSuccess = true;
        }
        catch (Exception ex)
        {
            message = $"Wystąpił błąd: {ex.Message}";
            isSuccess = false;
        }
        finally
        {
            isLoading = false;
        }
    }
}

