<div class="sidebar" id="sidebar">
    <nav class="nav">
        <div class="logo">
            <img src="UNISOFT_logo_CMYK_z_polem_ochronnym_alfa_white.png" style="width: 90%; height: 90%; margin-left:5px;" />
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/kalendarz">
                <i class="fas fa-home"></i>
                <span class="nav-text">Strona główna</span>
            </a>
        </div>
        <br />
        <div class="nav-item">
            <a class="nav-link" href="/to-do">
                <i class="fa-regular fa-calendar-check"></i>
                <span class="nav-text">Twoje zadania</span>
            </a>
        </div>
        <br />
        <div class="nav-item">
            <a class="nav-link" href="/create-user">
                <i class="fas fa-user-plus"></i>
                <span class="nav-text">Nowy użytkownik</span>
            </a>
        </div>
        <br />
        <div class="nav-item">
            <a class="nav-link" href="/">
                <i class="fa-solid fa-arrow-left-long"></i>
                <span class="nav-text">Wyloguj</span>
            </a>
        </div>
    </nav>
</div>




