@page "/create-user"
@using KalendarzPracowniczyApplication.CQRS.Commands.Users.Create
@using KalendarzPracowniczyUI.Service
@rendermode InteractiveServer
@inject UserServiceUI UserServiceUI

<h3>Stwórz nowego użytkownika</h3>

<EditForm Model="@userCommand" OnValidSubmit="CreateUser" ForName="CreateNewUser">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label for="username">UserName</label>
        <InputText id="username" @bind-Value="userCommand.UserName" />
    </div>
   
    <div>
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="userCommand.Email" />
    </div>
 
    <div>
        <label for="password">Hasło</label>
        <InputText id="password" @bind-Value="userCommand.PasswordHash" type="password" />
    </div>
    
    <button type="submit">Stwórz użytkownika</button>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private CreateUserCommand userCommand { get; set; } = new ();

    private async Task CreateUser()
    {
        await UserServiceUI.Create(userCommand);
    }
}
