@page "/userinfo"
@using KalendarzPracowniczyApplication.Dto
@using KalendarzPracowniczyUI.Service
@inject UserServiceUI UserService


<style>

    .user-info {
        display: flex;
        align-items: center;
    }

    .user-name {
        margin-left: 27%;
        font-size: 16px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 400;
        margin-top:5px;
    }
</style>

@code {
    private string initials;
    private string username;
    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var user = await UserService.GetCurrentUserAsync();

            if (user != null)
            {
                isAuthenticated = true;

                if (!string.IsNullOrEmpty(user.Name))
                {
                    username = user.Name;
                }
                if (!string.IsNullOrEmpty(user.UserName))
                {
                    username = user.UserName;
                }
            }
            if(user == null)
            {
                isAuthenticated = false;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Błąd w OnInitializedAsync: {ex.Message}");
            isAuthenticated = false;
        }
    }
}

@if (isAuthenticated)
{
    <div class="user-info">
        <span class="user-name"> @username</span>
    </div>
}
else
{
    <p style="margin-left:32%;margin-top:0%">Brak</p>
}